{% extends 'doc.html' %}
{% block title %}News{% endblock %}
{% block header %}
    <h1>News</h1>
    <form class=search action=./ method=GET>
        <input type=search name=q placeholder=search>
    </form>
    <nav>
        <p class=page-info>
            updated <time datetime={{page.modified|iso}}>{{page.modified|utc}}</time>
        {% if page.previous_url %}
        <p class=page-control>
            <a href={{page.first_url}} >first</a>
            —
            <a href={{page.previous_url}} rel=prev>previous</a>
        {% endif %}
    </nav>
{% endblock %}
{% block main %}
    <ol>
    {% for item in page %}
        <li value={{page.first_item_index + loop.index}}>
            <a href={{item.url|href|safe}} rel=noreferrer target=_blank>{{item.title}}</a>
            <p>
                <a href=./site/{{item.url.identity}} rel=noreferrer>{{item.url.identity}}</a>
                {% for source in item.different_sources %}
                —
                <a href={{source.url|href|safe}} rel=noreferrer target=_blank>{{source.site_id}}</a>
                {% endfor %}
                —
                <time datetime={{item.created|iso}}>{{item.created|utc}}</time>
    {% endfor %}
    </ol>
{% endblock %}
{% block footer %}
    <nav>
        {% if page.next_url %}
        <p class=page-control>
                <a href={{page.last_url}} >last</a>
                —
                <a href={{page.next_url}} rel=next>next</a>
        {% endif %}
        <p class=page-info>
            page {{page.page.number}} of {{page.page.count}}
    </nav>
{% endblock %}
