{% extends 'doc.html' %}
{% block title %}News from {{doc.identity}}{% endblock %}
{% block header %}
    <h1>News from {{doc.identity}}</h1>
    {{doc.count_phrase}}
{% endblock %}
{% block main %}
    <ol>
    {% for item in doc %}
        <li value={{doc.first_item_index + loop.index}}>
            <a href={{item.url|href|safe}} rel=noreferrer target=_blank>{{item.title}}</a>
            <p>
                {{item.url.identity}}
                {% for source in item.different_sources %}
                —
                <a href={{source.url|href|safe}} rel=noreferrer target=_blank>{{source.site_id}}</a>
                {% endfor %}
                —
                <time datetime={{item.created|iso}}>{{item.created|utc}}</time>
    {% endfor %}
    </ol>
{% endblock %}
{% block footer %}
{% endblock %}
