{% extends 'page.html' %}
{% block title %}News from {{news.identity}}{% endblock %}
{% block header %}
    <h1>News from {{news.count_phrase}}</h1>
{% endblock %}
{% block main %}
    <ol>
    {% for item in news %}
        <li value={{news.first_item_index + loop.index}}>
            <a href=./site/{{item.identity}} rel=noreferrer target=_blank>{{item.identity}}</a>
            <p>
                {{item.count_phrase}}
    {% endfor %}
    </ol>
{% endblock %}
{% block footer %}
{% endblock %}
